:root {
    --background-color: blanchedalmond;
    --progress-bar-background-color: #302d1f;
    --filler-background: linear-gradient(90deg, #ffa600, #7c622d);
    --menu-panel-background-color: #70310c;
    --menu-panel-button-background-color: #240f01;
    --menu-panel-button-hover-color: #777;
    --menu-panel-text-color: white;
    --box-shadow-color: rgba(0, 0, 0, 0.2);
}